{% extends "layout.html" %}

{% block body %}

<form action="/post" method="post">

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nome </label>
        <input type="text" class="form-control" name="nome" id="exampleFormControlInput1" placeholder="name@example.com">
        
        <label for="exampleFormControlInput1" class="form-label">Raça</label>
        <input type="text" name="idade" class="form-control" id="exampleFormControlInput1" >
        
        <label for="exampleFormControlInput1" class="form-label">idade</label>
        <input type="text" name="sexo" class="form-control" id="exampleFormControlInput1" >
        
        <button class="btn btn-success mt-2" type="submit">enviar</button>
    </div>

</form>

{% endblock %}
